[Unit]
Description=Existing bhtm Caddy
After=network-online.target

[Service]
Type=notify
User=root
Group=root
Environment=CADDY_ADMIN=127.0.0.1:2019
StandardOutput=journal
StandardError=inherit
LimitCORE=infinity
MemorySwapMax=infinity
ExecStart=/usr/local/bin/caddy run --environ --config /etc/caddy/Caddyfile --adapter caddyfile
ExecReload=/usr/local/bin/caddy reload --config /etc/caddy/Caddyfile --adapter caddyfile --force
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
